a {
  color: #ff4c52;

  &:hover {
    color: #f1272f;
  }
}

.btn-primary {
  outline: none;
  background-color: #ff4c52;
  border-color: #f1272f;

  &:hover, &:not(:disabled):not(.disabled):active {
    background-color: #ff4c52;
    border-color: #f1272f;
  }
}