<div class="sidebar">
  <ul class="navigation-menu">
    <li class="nav-category-divider">MAIN</li>
    <li>
      <a href="index.html">
        <span class="link-title">Dashboard</span>
        <i class="mdi mdi-gauge link-icon"></i>
      </a>
    </li>
    <li>
      <a href="pages/buttons.html">Buttons</a>
    </li>
    <li>
      <a href="pages/dropdowns.html">Dropdowns</a>
    </li>
    <li>
      <ul class="navigation-submenu" id="main">
        <li>
          <div>Elements</div>
          <div class="elements-container">
            <div class="elements-row">
              <div class="dinner-table--wrapper">
                <object data="./shapes/round-one-person-table.svg" type="image/svg+xml"></object>
              </div>
            </div>
            <div class="elements-row">
              <div class="dinner-table--wrapper">
                <object data="./shapes/round-two-person-table.svg" type="image/svg+xml"></object>
              </div>
            </div>
            <div class="elements-row">
              <div class="dinner-table--wrapper">
                <object data="./shapes/round-four-person-table.svg" type="image/svg+xml"></object>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>