@import "./variables.css";
@import "./dinner-table.css";

.blueprint--container {
    border: 2px solid var(--blueprint--bold-divider--color);
    background-color: var(--blueprint--background--color);
    background-image: linear-gradient(var(--blueprint--bold-divider--color) var(--blueprint--bold-divider--width), transparent var(--blueprint--bold-divider--width)),
    linear-gradient(90deg, var(--blueprint--bold-divider--color) var(--blueprint--bold-divider--width), transparent var(--blueprint--bold-divider--width)),
    linear-gradient(var(--blueprint--regular-divider--color) var(--blueprint--regular-divider--width), transparent var(--blueprint--regular-divider--width)),
    linear-gradient(90deg, var(--blueprint--regular-divider--color) var(--blueprint--regular-divider--width), transparent var(--blueprint--regular-divider--width));
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    width: calc(600px + var(--blueprint--bold-divider--width));
    height: calc(600px + var(--blueprint--bold-divider--width));
}

.dinner-table--wrapper {
    display: inline-block;
    padding: 10px;
    border: 1px solid var(--table--color);
}

.dinner-table--container {
    position: relative;
    display: inline-block;
    width: var(--round-table--basic-radius);
    height: var(--round-table--basic-radius);
}