.round-table {
    position: absolute;
    height: var(--round-table--basic-radius);
    width: var(--round-table--basic-radius);
    background-color: var(--table--color);
    border-radius: 50%;
    z-index: 1;
}

.chair {
    top: calc(var(--round-table--basic-radius) / 2 * -1 / 8);
    left: calc(var(--round-table--basic-radius) / 4);
}

.two-person .chair:nth-of-type(2) {
    top: calc(var(--round-table--basic-radius) / 2 * 9 / 8);
    left: calc(var(--round-table--basic-radius) / 4);
}