:root {
    --blueprint--bold-divider--color: #B4B4B4;
    --blueprint--bold-divider--width: 2px;
    --blueprint--regular-divider--color: #C3C1B7;
    --blueprint--regular-divider--width: 1px;
    --blueprint--background--color: #FFF;

    --table--color: #BBB;
    --table--border-color: #D6D6D6;
    --chair--color: #676767;
    --round-table--basic-radius: 45px;

    --dinner-table--wrapper--active-color: #e4e4e4;
}