@import "./variables";

.blueprint--container {
    border: 2px solid $blueprint--bold-divider--color;
    background-color: $blueprint--background--color;
    background-image: linear-gradient($blueprint--bold-divider--color $blueprint--bold-divider--width, transparent $blueprint--bold-divider--width),
    linear-gradient(90deg, $blueprint--bold-divider--color $blueprint--bold-divider--width, transparent $blueprint--bold-divider--width),
    linear-gradient($blueprint--regular-divider--color $blueprint--regular-divider--width, transparent $blueprint--regular-divider--width),
    linear-gradient(90deg, $blueprint--regular-divider--color $blueprint--regular-divider--width, transparent $blueprint--regular-divider--width);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    width: 100%;
    height: 80vh;
    position: relative;
}

.elements-row {
    font-size: 0;
    letter-spacing: 0;
}

.dinner-table--wrapper {
    cursor: pointer;
    display: inline-block;
    border: 1px solid $dinner-table--border-color;
    transition: background-color 100ms;

    &:hover {
        background-color: $dinner-table--active-color;
    }

    &:not(:first-of-type) {
        border-left: none;
    }

    & > * {
        width: $dinner-table--el-size;
        height: $dinner-table--el-size;
    }
}