@import "./variables";

.workspace {
    background-color: $workspace--background-color;
}

.operational-space {
    position: relative;
    width: calc(100% - 200px);
    height: 90vh;
    display: inline-block;

    .controls {
        margin: 10px 0 0 10px;
        display: inline-block;
        background-color: $workspace--background-color;
    }
}

.blueprint--container {
    border: 1px solid $blueprint--regular-divider--color;
    background-color: $blueprint--background--color;
    width: 100%;
    height: calc(100% - 80px);;
    padding: 20px;
    margin-top: 10px;

    .blueprint {
        border: 2px solid $blueprint--bold-divider--color;
        background-image: linear-gradient($blueprint--bold-divider--color $blueprint--bold-divider--width, transparent $blueprint--bold-divider--width),
        linear-gradient(90deg, $blueprint--bold-divider--color $blueprint--bold-divider--width, transparent $blueprint--bold-divider--width),
        linear-gradient($blueprint--regular-divider--color $blueprint--regular-divider--width, transparent $blueprint--regular-divider--width),
        linear-gradient(90deg, $blueprint--regular-divider--color $blueprint--regular-divider--width, transparent $blueprint--regular-divider--width);
        background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
        background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
        width: 100%;
        height: 100%;
        vertical-align: top;
    }
}

.elements--container {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    margin: 10px;
    background-color: $blueprint--background--color;
    border: $dinner-table--border-style;

    .elements-row {
        font-size: 0;
        letter-spacing: 0;
    }

    .dinner-table--wrapper {
        cursor: pointer;
        display: inline-block;
        border: $dinner-table--border-style;
        transition: background-color 100ms;
        border-left: none;
        padding: $dinner-table--el-padding;

        &:last-of-type {
            border-right: none;
        }

        &:hover {
            background-color: $dinner-table--active-color;
        }

        & > * {
            width: $dinner-table--el-size;
            height: $dinner-table--el-size;
        }
    }

    & .elements-row:not(:first-of-type) .dinner-table--wrapper {
        border-bottom: none;
    }

    & .elements-row:nth-last-child(2) .dinner-table--wrapper {
        border-bottom: $dinner-table--border-style;
    }

    & .elements-row:last-of-type .dinner-table--wrapper {
        border-right: $dinner-table--border-style;
        border-top: none;
    }
}